.payment-table {
  width: 100%;
  margin-top: 25px;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  border-spacing: 0;
  text-align: left;
}

.sub-table {
  width: 100%;
  border-spacing: 0;
}

.primary-header {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  background: #f8f8f8;
  text-transform: uppercase;
  height: 40px;
}

.primary-records {
  height: 60px;
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
}

.primary-records.showSub,
.primary-records:hover {
  background: #f4f2ff;
}

.expanded-row td div {
  height: 0px;
  overflow: hidden;
  transition: 500ms;
}

.sub-header {
  text-transform: uppercase;
  font-size: 14px;
  background: #eae7f9;
  height: 40px;
}

.activity {
  font-size: 14px;
  background: #fcfcfc;
  height: 60px;
}

.empty {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  height: 100px;
}

td {
  border-top: 1px solid var(--grey);
}

.expanded-row td {
  border: none;
}

.sub-table td,
.sub-table th {
  width: 100px;
  padding-left: 40px;
  border-top: 1px solid var(--grey);
}

.pagination {
  display: flex;
  height: 40px;
  background: #f8f8f8;
  justify-content: flex-end;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 12px;
  align-items: center;
}

.page-size-btn {
  font-family: inherit;
  font-weight: 600;
  color: var(--violet);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 3px;
}

option {
  font-family: inherit;
  font-weight: 600;
  color: var(--violet);
}

.paginate-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 30px;
}

.paginate-btn:disabled {
  cursor: not-allowed;
}
